<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.blstream.myguide"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:targetSdkVersion="19" android:minSdkVersion="11"/>
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="com.blstream.myguide.MyGuideApp"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Main_Theme"
        android:allowBackup="true">
        
        <activity android:name="SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="MainActivity"
                  android:configChanges="orientation|screenSize"
                  android:label="@string/app_name">
        </activity>
        <activity android:name="com.blstream.myguide.AboutActivity" >
        </activity>
        <activity android:name="com.blstream.myguide.OptionsActivity" >
        </activity>
        <activity android:name="com.blstream.myguide.SightseeingActivity"
                  android:theme="@style/Main_Theme_Action_Bar">
        </activity>
        <activity android:name="com.blstream.myguide.HowToGetActivity" >
        </activity>
        
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBxrhHgFsNmw3lrreEP7gcGu18wXwo2Aeg" />
        <activity android:name="AnimalListActivity" android:theme="@style/Main_Theme_Action_Bar"></activity>
    </application>
</manifest>
