<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <extensions>
        <add assembly="Caliburn.Micro.Logging" />
    </extensions>

    <targets>
        <target name="debugger"
                xsi:type="Debugger"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}" />
        <target name="exceptions"
                xsi:type="ISFile"
                fileName="exceptions.log"
                layout="${longdate} | ${logger} | ${message}"
                autoFlush="true" />
        <target name="global" xsi:type="ISFile"
                fileName="global.log"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}"
                AutoClose="false" />
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="debugger" />
        <logger name="*" minlevel="Warn" writeTo="exceptions" />
        <logger name="*" minlevel="Info" writeTo="global" />
    </rules>
</nlog>