<configuration>
	<!-- Fallback to language if string is not available -->
	<lang_fallback>pl</lang_fallback>

	<!-- Radius within which the information that user got close to an object appears -->
	<internal_object_radius>1</internal_object_radius>

	<!-- Radius outside which the information that user got close to an object disappears -->
	<external_object_radius>2</external_object_radius>
    
    <!-- Bounds in meters restricting map area -->
    <map_max_width>1100</map_max_width>
    <map_max_height>900</map_max_height>
    <map_min_width>100</map_min_width>
    <map_min_heigth>123</map_min_heigth>
    <map_camera_max_altitude>2905</map_camera_max_altitude>
    <map_camera_min_altitude>362</map_camera_min_altitude>
    
    <!-- Values restricting scrolling -->
    <map_zoo_center_lat>51.104189</map_zoo_center_lat>
    <map_zoo_center_lon>17.074825</map_zoo_center_lon>
    <map_zoo_center_rad>550</map_zoo_center_rad>
    
    <!-- Boolean flags to turn on/off some application features -->
    <map_show_animals>true</map_show_animals>
    <map_show_user_position>true</map_show_user_position>
    <map_show_paths>true</map_show_paths>
    <map_show_junctions>true</map_show_junctions>
    
    <!-- ZOO coordinates -->
    <map_zoo_lat>51.1051588</map_zoo_lat>
    <map_zoo_lng>17.0742023</map_zoo_lng>
    
    <!-- Maximum allowed user distance in meters from zoo -->
    <map_max_user_distance>1000</map_max_user_distance>
</configuration>